*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./images/mars.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo1{
    width: 200px;
    user-select: none;
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    /* color: #fff; */
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: ease-in 0.2s;
}
.navigation a:hover{
    color: #b3adad;
}
.btn-login{
    width: 130px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: ease-in 0.2s;
}
.btn-login:hover{
    background-color: #c9c5c546;
    color: #fff;
    border: 2px soild #c9c5c546;
}

.container1{
    width: 100%;
    height: 100vh;
    background: transparent;
    background-size: cover;
}
.form-box{
    margin-top: 40px;
    width: 80%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    padding: 50px 60px 70px;
    text-align: center;
}
.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #fff;
    position: relative;
}
.form-box h1::after{
    content: "";
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background: #fff;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}
.input-field{
    background: #aeaeae;
    margin: 15px 0;
    border-radius: 25px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
.input-field input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i{
    margin-left: 15px;
    color: #777676;
}

form p{
    text-align: left;
    font-size: 13px;
    color: white;
}
form p a{
    text-decoration: none;
    color: #beb7ca;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field button{
    font-size: 15px;
    font-weight: 600;
    flex-basis: 48%;
    background: #9081aa;
    /* color: #fff; */
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.input-group{
    height: 280px;
}
.btn-field button.disable{
    background: #aeaeae;
    color: #555;
}
